/*home page*/
*{
    font-family: Arial, Helvetica, sans-serif;
}
 /*navbar*/
 .navbar-UL{
    list-style: none;
    padding: 0;
    margin: 0 0 0 0rem;
}



nav a{
    display: block;
    padding: 20px 15px;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    color:#0c0200;
    font-size: larger;
}

/*welcome*/
.welcome-div{
   
    padding-bottom: 50%;
}

.welcome-p{
    text-align: center;
    margin-top: -30%;
    padding-bottom: 25%;
    color:#0c0200;
}

.Welcome-button{
   
   background-color: #ff2c07;
   border: none;
   border-radius:5rem;
   font-size: larger;

}

a{
    text-decoration: none;
    color:  #0c0200;
    border: 10px;
    padding: 5px 5px;
    display:inline-block;
    font-size: 16px;
    border-radius: 5%;
}

button:hover{
    background-color: #ff8772;
}

hr{
 border:1px solid #ff2c07;
}

/*About*/

h1{
    text-align: center;
    
}

.About{
    padding-top: 4rem;
    background-color: white;
    height: 50rem;
}

.about-p{
    padding-left: 28rem;
    width: 50rem;
    margin-top: -27rem;
    text-align: center;
}

.name{
    color: #ff2c07;
}

figcaption{
    padding-left:  5%;
    
}

.title{
    padding-left: 30rem;
}


/*Skills*/
#Skills{
    height: 50rem;
    
}

.skills-H{
    margin-bottom: 1rem ;
}

.skills-l{
    list-style:disc; 
    padding-left: 20rem;
}

.skills{
    float: none;
   
}
/*project*/

#Project{
 
   
}




/*contact us link*/
.contact-us{
    text-align: center;
}

/*footer*/
footer{
        padding-left: 45%;
    }


/*contact us page*/
ul{
    list-style: none;
    padding: 0;
    margin: 0 0 0 10rem;
}

li{
    float:right;
}

nav a{
    display: block;
    padding: 20px 15px;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    color:#0c0200;
    font-size: larger;
}
/*form*/
.form{
    padding-top: 7%;
    padding-left: 30%;

}

.form-H{
    text-align: justify;
}


input,textarea {
width: 50%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
resize: vertical;
margin-bottom: 2%;
}

button{
background-color: #ff8772;;
color: white;
padding: 12px 20px;
border: none;
border-radius: 20rem;
cursor: pointer;
}

button:hover {
background-color: #f14c2f;;
}

/*footer*/
.footer{
    margin-top: 23rem;
    padding-left: 45rem;
}

.copywrite{
    padding-left: 2rem;
}