/*home page*/
*{
    font-family: Arial, Helvetica, sans-serif;
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
 /*navbar*/
 ul{
    list-style: none;
    padding: 0;
    margin: 0 0 0 0rem;
    top:0;
    position: fixed;
    background-color: black;
    width: 100%;
}



li a{
    display: block;
    padding: 20px 15px;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    color: #ff2c07;
    font-size: larger;
}

li{
    float:right;
    
}

/*welcome*/
.welcome-div{
   
    padding-bottom: 50%;
}

.welcome-p{
    text-align: center;
    margin-top: -30%;
    padding-bottom: 25%;
    color:#0c0200;
}

.Welcome-button{
   
   background-color: #ff2c07;
   border: none;
   border-radius:5rem;
   font-size: larger;

}

a{
    text-decoration: none;
    color:black;
    border: 10px;
    padding: 5px 5px;
    display:inline-block;
    font-size: 16px;
    border-radius: 5%;
}

button:hover{
    background-color: #ff8772;
}

hr{
 border:1px solid #ff2c07;
}

/*About*/

h1{
    text-align: center;
    
}
/*About Section*/

.About{
    padding-top: 4rem !important;
    background-color: white;
    height: 50rem;
}

.about-p{
    
    margin-top: 2rem !important;
    padding-left: 15rem !important;
    text-align: center;
    width: 80rem;
}

.name{
    color: #ff2c07;
}

.aboutImg{
    padding: 10px 10px !important;
    margin-left: 8rem;
    display: flex;
    align-items: center !important;
}

.stickers{
    padding-top: 5rem !important;
    display: flex;
    justify-content: center !important;
}

/*Skills*/
#Skills{
    height: 50rem;
    
}

.skills-H{
    padding-top: 6rem;
}

p{
    margin-top: 2rem;
    text-align: center;
}
.mySlides {display: none}
img {vertical-align: middle;}

.carousel-container{
    margin-top: 10% !important;
    max-width: 70%;
    position: relative;
    margin: auto;
}

.skill-Image{
    margin-left: 29rem;
}
.caption{
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color:#ff2c07;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  
  .prev:hover, .next:hover {
    background-color: black;
  }



.dot-container{
    margin-top: 15px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 6px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
/*project*/

#Project{
 
   
}


.contact-Button{
    background-color: #ff8772;;
    color: white;
    padding: 2px 10px;
    border: none;
    border-radius: 20rem;
    cursor: pointer;
}

/*contact us link*/
.contact-us{
    text-align: center;
}



/*form*/
.form{
    padding-top: 7%;
    padding-left: 35%;
    margin-top: 10rem;

}

.form-H{
    text-align: justify;
    margin-bottom: 1rem;
    margin-left: 10rem;
}


input,textarea {
width: 50%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
resize: vertical;
margin-bottom: 2%;
}

button{
background-color: #ff8772;;
color: white;
padding: 12px 20px;
border: none;
border-radius: 20rem;
cursor: pointer;
}

button:hover {
background-color: #f14c2f;;
}

/*footer*/
.contact-footer{
    margin-top: 8rem;
   
}

.social-Media{
margin-left: 41rem;
padding-top: 1rem;
margin-bottom: -1rem;
}

.copywrite{
    align-items: center;
    background-color: #0c0200;
    width: 100%;
}

.copywrite-p{
    text-align: center;
    color: #ff2c07;
}