/*home page*/
*{
    font-family: Arial, Helvetica, sans-serif;
}
 /*navbar*/
 ul{
    list-style: none;
    padding: 0;
    margin: 0 0 0 0rem;
    top:0;
    position: fixed;
    background-color: black;
    width: 100%;
}



li a{
    display: block;
    padding: 20px 15px;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    color: #ff2c07;
    font-size: larger;
}

li{
    float:right;
    
}

/*welcome*/
.welcome-div{
   
    padding-bottom: 50%;
}

.welcome-p{
    text-align: center;
    margin-top: -30%;
    padding-bottom: 25%;
    color:#0c0200;
}

.Welcome-button{
   
   background-color: #ff2c07;
   border: none;
   border-radius:5rem;
   font-size: larger;

}

a{
    text-decoration: none;
    color:black;
    border: 10px;
    padding: 5px 5px;
    display:inline-block;
    font-size: 16px;
    border-radius: 5%;
}

button:hover{
    background-color: #ff8772;
}

hr{
 border:1px solid #ff2c07;
}

/*About*/

h1{
    text-align: center;
    
}
/*About Section*/

.About{
    padding-top: 4rem;
    background-color: white;
    height: 50rem;
}

.about-p{
    /*
    
    margin-top: -19rem;*/
    padding-left: 5rem;
    text-align: center;
    width: 80rem;
}

.name{
    color: #ff2c07;
}

.about_img{
    padding: 10px 580px;
    display: flex;
    align-items: center;
}

.stickers{
    display: flex;
    justify-content: center;
   

}

.title{
    padding-left: 35rem;
}

.chart-wrap{
  width: 350px;
  height: 300px;
  font-family:sans-serif;
  padding-left: 35rem;
  .title {
    text-align:center; 
  }
}

.grid{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  border-bottom:2px solid #aaa;
  background:repeating-linear-gradient(0deg,transparent,transparent 19.5%,fadeout(#aaa,30%) 20%);
  
  .bar {
    background-color:#F16335;
    width:45px;
    height: var(--bar-value);
    align-self:flex-end;
    margin:0 auto;
    border-radius:3px 3px 0 0;
    position:relative;
    
    &.bar:hover{
      opacity:0.7;
    }
    
    &::after{
      content:attr(data-name);
      top:-3em;
      padding:10px;
      display:inline-block;
      white-space:nowrap;
      position:absolute;
      transform:rotate(-45deg);
    }
  }
  
  &.horizontal{
    flex-direction:column;
    border-bottom:none;
    border-left:2px solid #aaa;
  background:repeating-linear-gradient(90deg,transparent,transparent 19.5%,fadeout(#aaa,30%) 20%);
    .bar{
      height:4px;
      width: var(--bar-value);
      align-self:flex-start;
      margin:auto 0 auto 0;
      border-radius:03px 3px0;
      
      &::after{
        top:initial;
        left:100%;
        padding:0 10px;
        display:inline-block;
        white-space:nowrap;
        position:absolute;
        transform:rotate(0deg);
        line-height:3px;
      }      
    }
  }
}

/*Skills*/
#Skills{
    height: 50rem;
    
}

.skills-H{
    margin-bottom: 1rem ;
}

.skills-l{
    list-style:disc; 
    padding-left: 20rem;
}

.skills{
    float: none;
   
}
/*project*/

#Project{
 
   
}




/*contact us link*/
.contact-us{
    text-align: center;
}



/*form*/
.form{
    padding-top: 7%;
    padding-left: 30%;

}

.form-H{
    text-align: justify;
}


input,textarea {
width: 50%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
resize: vertical;
margin-bottom: 2%;
}

button{
background-color: #ff8772;;
color: white;
padding: 12px 20px;
border: none;
border-radius: 20rem;
cursor: pointer;
}

button:hover {
background-color: #f14c2f;;
}

/*footer*/
.footer{
    margin-top: 16rem;
   
}

.copywrite{
    align-items: center;
    background-color: #0c0200;
    width: 100%;
}

.copywrite-p{
    text-align: center;
    color: #ff2c07;
}